.background-image {
  background: url('../assets/thankyou.webp') center center fixed;
  background-size: cover;
  color: #f7f0f0; /* Set text color to white for better visibility on the background */
}

.thank__you {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background */
  border-radius: 10px;
}

.icon {
  font-size: 48px;
  color: #4CAF50; /* Green color for the checkbox icon */
}

.primary__btn {
  background-color: #4CAF50;
  color: #fff;
}
.thank__you p {
  color: #ab7171;
}